button{
	background-color: #F77825;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	display: block;
	margin: 10px auto;
	padding: 15px;
}

#addColor{
	border-radius: 0 0 5px 5px;
	width: 100%;
}
