@import "normalize";


// General ********************

html{
	background-color: #bbb;
	box-sizing: border-box;
}

h4{
	font-size: 2em;
	text-align: center;
}

.container{
	margin: 0 auto;
	width: 50%;
	border: 2px solid gold;
}

// Canvas ********************
.canvas{
	text-align: center;
}

canvas{
	background-color: #fff;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 0px 1px 2px;
	height: 300px;
	width: 300px;
}

// Palette ***********************

ul{
	list-style: none;
	padding: 0;
	margin: 25px 0 30px;
	text-align: center;
}

li{
	display: inline-block;
	height: 50px;
	width: 50px;
	border-radius: 100px;
	margin: 10px;
}

.selected{
	border: 5px solid #fff;
}

.red{
	background-color: red;
}
.green{
	background-color: green;
}
.blue{
	background-color: blue;
}

//Color selector *******************

#newColor{
	width: 30%;
	/*display: inline-block;*/
	/*float: left;*/
}

#colorSelector{
	width: 60%;
	/*display: inline-block;*/
	/*float: left*/
}

span{
	height: 100px;
	width: 100px;
	display: block;
	background-color: black;
}

input{
	display: block;
}






















