@import "normalize";


// General ********************

h1{
	font-size: 4em;
}

canvas{
	height: 200px;
	width: 200px;
	border: 1px solid gold;
}

*{
	box-sizing: border-box;
}

// Layout***********************

.container{
	margin: 0 auto;
	width: 50%;
}



.red{
	background-color: tomato;
}
.green{
	background-color: green;
}
.blue{
	background-color: blue;
}
.selected{
	border: 15px solid black;
	height: 25px;
	width:  25px;
}