@import "normalize";

// General ********************

html{
	background-color: #222;
	box-sizing: border-box;
}

h4{
	font-size: 2em;
	text-align: center;
	color: #bbb;
}

.container{
/*	border: 2px solid steelblue;
*/	margin: 0 auto;
	width: 50%;
}

// Canvas ********************
.canvas{
	text-align: center;
}

canvas{
	background-color: #fff;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 0px 1px 2px;
	height: 300px;
	width: 90%;
	max-width: 400px;
}

// Palette ***********************

ul{
	list-style: none;
	margin: 25px 0 15px;
	padding: 0;
	text-align: center;
}

li{
	border-radius: 100px;
	display: inline-block;
	margin: 10px;
	height: 50px;
	width: 50px;
}

.selected{
	border: 5px solid #fff;
}

.red{
	background-color: red;
}
.green{
	background-color: green;
}
.blue{
	background-color: blue;
}

button{
	background-color: #F77825;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	display: block;
	margin: 10px auto;
	padding: 15px;
}

#addColor{
	width: 100%;
	border-radius: 0 0 5px 5px;
}

//Color selector *******************

/* *{
	border: 1px solid gold;
}*/

span{
	background-color: #bbb;
	display: inline-block;
	height: 100px;
	margin: 15px;
	vertical-align: top;
	width: 100px;
}

#colorSelector{
	display: inline-block;
	width: 60%;
}

p{
	vertical-align: middle;
}

label{
	display: inline-block;
	width: 60px;
}

#colorPanel{
	background-color: #ddd;
	border-radius: 0 0 5px 5px;
}














